.footer {
  position: relative;
  padding: 177px 0 210px;
  background-color: #202020;

  @include for-desktop {
    padding: 50px 0 50px;
  }

  @include for-tablet {
    padding: 44px 0 32px;
  }

  &-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include for-tablet {
      flex-direction: column;
    }
  }

  &-logo {
    display: block;
    width: 100%;

    &-wrap {
      display: block;
      width: 133px;
      margin-bottom: 75px;

      @include for-tablet {
        margin-bottom: 0;
      }
    }
  }

  &-col {
    position: relative;
    box-sizing: border-box;
    width: 25%;

    &-mobile {
      display: none;

      @include for-tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        span,
        a {
          display: block;
          width: 50%;
        }

        span {
          font-size: 10px;
          line-height: 18px;
          color: #c0c0c0;
        }

        a {
          font-size: 10px;
          line-height: 18px;
          font-weight: $medium;
          text-decoration: none;
          color: #777777;
        }
      }
    }

    @include for-tablet {
      width: 100%;
    }

    &:nth-child(1) {
      p {
        display: block;
        font-size: 16px;
        line-height: 24px;
        font-weight: $medium;
        color: #777777;

        @include for-desktop2 {
          font-size: 14px;
          line-height: 17px;
        }
      }

      p + p {
        margin-top: 100px;

        @include for-desktop2 {
          margin-top: 50px;
        }
      }

      @include for-tablet {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid #515151;

        a {
          width: 50%;

          img {
            width: 85px;
            margin-left: -18px;
          }
        }

        p {
          width: 50%;
          font-size: 11px;
          line-height: 14px;
          font-weight: $medium;

          &:last-child {
            display: none;
          }
        }
      }
    }

    &:nth-child(2) {
      width: 15.6%;
      padding: 0 52px;

      @include for-desktop {
        padding: 0 10px;
      }

      @include for-tablet {
        width: 100%;
        padding: 0;
        order: -2;
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      p {
        margin-bottom: 40px;

        @include for-desktop2 {
          margin-bottom: 20px;
        }
      }
    }

    &:not(:nth-child(1)) {
      p {
        display: block;
        font-size: 19px;
        line-height: 23px;
        color: #777777;

        @include for-desktop2 {
          font-size: 15px;
          line-height: 25px;
        }

        @include for-tablet {
          display: none;
        }
      }
    }

    &:nth-child(3) {
      width: 19.4%;
      padding: 0 75px;

      @include for-desktop {
        padding: 0 10px;
      }

      a {
        display: block;
        font-size: 18px;
        line-height: 37px;
        color: $white;
        text-decoration: none;
        &:hover {
          color: $yellow;
        }

        @include for-desktop2 {
          font-size: 15px;
          line-height: 25px;
        }

        @include for-tablet {
          &:nth-child(2) {
            text-align: center;
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
          }

          &:nth-child(3) {
            text-align: center;
            margin-top: 10px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: #ffde00;
          }
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 295px;
        width: 2px;
        background-color: #292929;

        @include for-desktop2 {
          height: 260px;
        }
      }

      @include for-tablet {
        width: 100%;
        padding: 40px 0;
        order: -1;

        &:after {
          display: none;
        }
      }
    }

    &:nth-child(4) {
      width: 22.3%;
      padding: 0 56px;

      @include for-desktop {
        padding: 0 10px;
      }

      @include for-tablet {
        width: 100%;
        padding: 0;
        display: none;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 295px;
        width: 2px;
        background-color: #292929;

        @include for-desktop2 {
          height: 260px;
        }
      }

      span {
        display: block;
        font-size: 18px;
        line-height: 37px;
        color: $white;

        @include for-desktop2 {
          font-size: 14px;
          line-height: 25px;
        }
      }
    }

    &:nth-child(5) {
      width: 17.7%;
      padding: 0 55px 0 55px;

      @include for-desktop {
        padding: 0 10px;
      }

      @include for-tablet {
        width: 100%;
        padding: 0;
        display: none;
      }

      p {
        display: block;
        font-size: 18px;
        line-height: 37px;
        color: #777777;

        @include for-desktop2 {
          font-size: 14px;
          line-height: 25px;
        }
      }

      a {
        display: block;
        margin-top: 140px;
        font-size: 18px;
        line-height: 25px;
        color: #ababab;
        &:hover {
          color: $yellow;
        }

        @include for-desktop2 {
          font-size: 14px;
          line-height: 25px;
        }
      }
    }
  }

  &-menu {
    ul {
      list-style: none;

      li + li {
        margin-top: 42px;

        @include for-desktop2 {
          margin-top: 15px;
        }

        @include for-tablet {
          margin-top: 12px;
        }
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 26px;
        line-height: 29px;
        font-weight: $medium;
        color: $white;
        text-decoration: none;

        &:hover {
          color: $yellow;
        }

        &:after {
          content: '';
          display: block;
          width: 5px;
          height: 10px;
          margin-top: 2px;
          background: center/auto url(../img/arrow-menu-item.svg) no-repeat;
          flex-shrink: 0;
        }

        @include for-desktop2 {
          font-size: 15px;
          line-height: 20px;
        }

        @include for-tablet {
          padding-bottom: 12px;
          border-bottom: 1px solid #2a2a2a;
          color: #c0c0c0;

          &:after {
            margin-right: 26px;
          }
        }
      }

      li {
        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }
  }
}
