body,
a,
button {
  font-family: 'Manrope', sans-serif;
}

* {
  outline: none;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: $text;
  line-height: $textLH;
  background-color: $white;
}

.container {
  position: relative;
  display: block;
  width: 96%;
  max-width: 1680px;
  margin: 0 auto;

  @include for-big-mobile {
    width: calc(100% - 54px);
  }
}

.header-container {
  position: relative;
  display: block;
  width: 98%;
  max-width: 1740px;
  margin: 0 auto;
}

.nowrap {
  white-space: nowrap;
}

.hide {
  display: none;
}
