// РАЗМЕРЫ ШРИФТОВ
$extraB: 300px;
$title: 71px;
$title2: 58px;
$text4: 26px;
$text3: 25px;
$text2: 23px;
$menu: 22px;
$text: 20px;
$text2: 18px;
$normal2: 15px;
$normal: 14px;
$small: 12px;
$small2: 13px;

// ВЫСОТА ШРИФТОВ
$titleHL: 75px;
$title2HL: 66px;
$text4LH: 36px;
$textLH: 30px;
$text2LH: 28px;
$textGridLH: 26px;
$smallLH: 17px;
$small2LH: 16px;

// ЖИРНОСТЬ
$extra: 800;
$bold: 700;
$semi: 600;
$medium: 500;
$light: 300;
$extraLight: 200;

// ЦВЕТА
$white: #fff;
$gray: #cccccc;
$yellow: #ffde00;
$btnBlack: #010101;
$btnYallow: #ffe400;
$btnGray: #6d6d6d;
$blackBg: #0c0c0c;
$borderBg: #7c7c7c;
$grayText: #909090;
$spanGray: #747474;
$mainBlack: #000;
$pGray: #8b8b8b;
$bgBlack: #1c1c1c;
$grayText2: #9c9c9c;
$greedBlack: #181818;

@mixin for-big-desktop {
  @media (max-width: 1920px) {
    @content;
  }
}

@mixin for-desktop {
  @media (max-width: 1640px) {
    @content;
  }
}

@mixin for-min-desktop4 {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin for-desktop2 {
  @media (max-width: 1360px) {
    @content;
  }
}

@mixin for-desktop3 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-min-desktop3 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 1050px) {
    @content;
  }
}

@mixin for-big-mobile {
  @media (max-width: 830px) {
    @content;
  }
}

@mixin for-mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-small-mobile {
  @media (max-width: 470px) {
    @content;
  }
}
