// ШРИФТЫ
$light: 'AktifoBLight';
$medium: 'AktifoBMedium';
$semiBold: 'AktifoBSemiBold';
$bold: 'AktifoBBold';

// РАЗМЕРЫ ШРИФТОВ
$extra: 300px;
$title: 71px;
$title2: 58px;
$text4: 26px;
$text3: 25px;
$text2: 23px;
$menu: 22px;
$text: 20px;
$text2: 18px;
$normal2: 15px;
$normal: 14px;
$small: 12px;
$small2: 13px;

// ВЫСОТА ШРИФТОВ
$titleHL: 75px;
$title2HL: 66px;
$text4LH: 36px;
$textLH: 30px;
$text2LH: 28px;
$smallLH: 17px;
$small2LH: 16px;

// ЖИРНОСТЬ
$bold: 700;
$medium: 500;
$light: 300;
$extraLight: 200;

// ЦВЕТА
$white: #fff;
$gray: #cccccc;
$yellow: #ffde00;
$btnBlack: #010101;
$btnYallow: #ffe400;
$btnGray: #6d6d6d;
$blackBg: #0c0c0c;
$borderBg: #7c7c7c;
$grayText: #909090;
$spanGray: #747474;
$mainBlack: #000;
$pGray: #8b8b8b;
$bgBlack: #1c1c1c;
$grayText2: #9c9c9c;
