@keyframes scaleA {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.equipment {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  .container {
    position: relative;
    z-index: 2;
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    background: $blackBg center top / cover url(../img/bgFirstSection.png) no-repeat;
    animation: 1s linear scaleA;

    @include for-big-mobile {
      background-image: url(../img/mobilebg.png);
    }
  }

  @media screen and (min-width: 1360px) {
    & > .container:nth-child(1) {
      box-sizing: border-box;
      padding-top: 439px;
      height: 100vh;
      min-height: 990px;
    }
  }

  @include for-desktop2 {
    padding-top: 300px;
  }

  @include for-big-mobile {
    padding-top: 95px;
    background-image: url(../img/mobilebg.png);
  }

  &-mobile-price-btn {
    display: none;

    @include for-big-mobile {
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      width: 270px;
      height: 52px;
      padding-left: 29px;
      padding-right: 14px;
      margin-top: 27px;
      font-size: 13px;
      line-height: 17px;
      font-weight: $bold;
      color: $mainBlack;
      text-decoration: none;
      background-color: $btnYallow;

      img {
        display: block;
        width: 34px;
      }
    }
  }

  &-mobile-heading {
    display: none;

    @include for-big-mobile {
      display: block;
      margin-top: 14px;
      margin-bottom: 245px;
      font-size: 12px;
      line-height: 16px;
      color: $white;
    }
  }

  &-heading {
    position: relative;
    box-sizing: border-box;
    padding-bottom: 96px;
    max-width: 950px;
    margin-bottom: 50px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 1px;
      width: 100%;
      max-width: 504px;
      background-color: $borderBg;
      transition: all 1s;

      @include for-big-mobile {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: block;
      height: 1px;
      width: 0%;
      max-width: 504px;
      background-color: $yellow;
      transition: all 1s;
    }

    h2 {
      display: block;
      font-size: $title;
      line-height: $titleHL;
      font-weight: $extraLight;
      color: $white;

      @include for-desktop2 {
        font-size: 40px;
        line-height: 45px;
      }

      @include for-big-mobile {
        font-size: 25px;
        line-height: 32px;
      }

      span {
        display: block;
      }
    }

    &-active {
      &:before {
        width: 100%;
      }

      & + .equipment-botHeading {
        p {
          color: $yellow;
        }
      }
    }

    @include for-big-mobile {
      margin-bottom: 45px;
      padding-bottom: 0;
    }
  }

  &-botHeading {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include for-big-mobile {
      display: none;
    }

    p {
      display: block;
      margin-right: 35px;
      font-size: $text2;
      line-height: $small2LH;
      font-weight: $bold;
      color: $white;
    }

    span {
      display: block;
      margin-top: 3px;
      font-size: $small2;
      line-height: $small2LH;
      font-weight: $light;
      color: $grayText;
    }

    padding-bottom: 174px;
  }

  &-scroll {
    position: relative;
    display: block;
    height: 48px;
    width: 32px;
    margin-right: 46px;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 78px;
      width: 32px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 78px;
      width: 250px;
    }

    &-arrow {
      position: absolute;
      left: 50%;
      bottom: -28px;
      height: 10px;
      width: 18px;
      margin-left: -10px;
      animation: 2s infinite twitch;
    }

    &:hover {
      .equipment-scroll-arrow {
        animation: none;
        bottom: -28px;
      }
    }
  }

  &-grid {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;

    @include for-big-mobile {
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      height: 375px;
      width: 25%;
      padding: 85px 58px 43px 50px;
      background-color: rgba(28, 28, 28, 0.7);
      flex-shrink: 0;

      @include for-desktop2 {
        height: 226px;
        padding: 42px 29px 20px 25px;
      }

      @include for-big-mobile {
        height: 140px;
        transform: none !important;
      }

      p {
        display: block;
        margin: 55px 0 30px;
        padding: 0;
        font-size: $text;
        line-height: $textLH;
        font-weight: $medium;
        color: $white;

        @include for-desktop2 {
          font-size: 15px;
          line-height: 18px;
          margin: auto 0;
        }

        span {
          text-decoration: underline;
        }

        @include for-big-mobile {
          font-size: 12px;
          line-height: 15px;
        }
      }

      &:nth-child(2) {
        position: absolute;
        left: 50%;
        bottom: 100%;

        @include for-big-mobile {
          position: relative;
          left: auto;
          bottom: auto;
          order: 0;
          width: calc(50% + 27px);
          margin-left: -27px;
          margin-right: 50%;
          padding: 34px 20px 15px 27px;

          .equipment-icon {
            width: 19px !important;
          }
        }
      }

      &:nth-child(3) {
        background-color: transparent;

        @include for-big-mobile {
          order: 1;
          width: 50%;
          padding: 35px 50px 35px 0;

          .equipment-icon {
            width: 20px !important;
          }

          p {
            margin-bottom: 0;
            margin-top: auto;
          }
        }
      }

      &:nth-child(4) {
        @include for-big-mobile {
          order: 2;
          width: calc(50% + 27px);
          margin-right: -27px;
          margin-bottom: 35px;
          padding: 35px 13px 20px 23px;
          background-color: rgba(28, 28, 28, 0.7);

          .equipment-icon {
            width: 25px !important;
          }
        }
      }

      &:last-child {
        position: absolute;
        top: 375px;
        left: 50%;
        z-index: 5;
        height: 260px;
        padding: 38px 45px 48px 50px;
        background-color: $btnYallow;

        @include for-desktop2 {
          height: 200px;
          padding: 19px 22px 24px 25px;
          top: 225px;
        }

        @include for-big-mobile {
          display: none;
        }

        p {
          margin: 49px 0 0;
          font-size: $text3;
          line-height: $textLH;
          font-weight: bold;
          color: $mainBlack;

          @include for-desktop2 {
            margin: auto 0 0;
            font-size: 15px;
            line-height: 18px;
          }
        }

        .equipment-link {
          height: 72px;
          width: 72px;
          margin-left: auto;

          @include for-desktop2 {
            height: 36px;
            width: 36px;

            img {
              display: block;
              width: 100%;
            }
          }
        }
      }

      &:first-child {
        box-sizing: border-box;
        height: auto;
        width: calc(50% + 120px);
        padding: 80px 96px 104px 120px;
        margin-left: -120px;
        background-color: rgba(28, 28, 28, 1);

        @include for-desktop2 {
          width: 50%;
          padding: 40px 48px 52px 60px;
          margin-left: 0;
        }

        @include for-big-mobile {
          order: 3;
          width: 100%;
          padding: 34px 17px 27px 17px;

          .equipment-desktop {
            display: none;
          }

          .equipment-phone {
            font-size: 12px;
            line-height: 18px;

            .equipment-phone-link {
              font-size: 12px;
              line-height: 18px;
            }
          }

          .equipment-mobile-price-btn {
            width: 100%;
          }
        }

        p {
          margin: 204px 0 60px;
          font-size: $title2;
          line-height: $title2HL;
          font-weight: bold;

          @include for-desktop2 {
            margin-top: 100px;
            font-size: 37px;
            line-height: 45px;
          }

          @include for-big-mobile {
            margin: 18px 5px 28px;
            font-size: 25px;
            line-height: 28px;
            font-weight: bold;
          }
        }

        span {
          display: block;
          font-size: $normal2;
          margin-left: auto;
          color: $spanGray;

          @include for-big-mobile {
            margin-left: 0;
            font-size: 10px;
            line-height: 13px;
          }
        }
      }
    }
  }

  &-link {
    display: block;
    height: 43px;
    width: 43px;
    margin-left: auto;

    @include for-big-mobile {
      height: 17px;
      width: 20px;
      margin-top: -20px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  &-phone {
    display: block;
    font-size: $text2;
    line-height: $text2LH;
    font-weight: $medium;
    color: $white;

    &-link {
      display: block;
      font-size: $text2;
      line-height: $text2LH;
      font-weight: $bold;
      color: $white;
    }
  }

  &-number {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 100px 0 65px;

    @include for-big-mobile {
      padding: 72px 0 56px;
      transform: none !important;
    }

    p {
      display: block;
      margin-bottom: 30px;
      font-size: $text2;
      line-height: $text2LH;
      color: $pGray;

      @include for-desktop {
        font-size: 15px;
      }

      @include for-big-mobile {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 15px;
      }
    }

    &-bigNumber {
      position: relative;
      text-align: center;
      display: block;
      font-size: $extraB;
      line-height: $extraB;
      color: $white;

      @include for-desktop {
        font-size: 150px;
        line-height: 225px;
      }

      b {
        position: absolute;
        font-size: 75px;
        line-height: 110px;

        b {
          font-size: 37px;
          line-height: 75px;
        }
      }

      @include for-big-mobile {
        font-size: 77px;
        line-height: 77px;

        b {
          display: none;
        }
      }
    }

    span {
      display: block;
      text-align: center;
      margin-top: 25px;
      font-size: $text4;
      line-height: $text2LH;
      color: $white;

      @include for-desktop {
        margin-top: 0;
        font-size: 20px;
        line-height: 25px;
      }

      @include for-big-mobile {
        margin-top: 20px;
        font-size: 17px;
        line-height: 21px;
      }
    }
  }
}

@keyframes twitch {
  0% {
    bottom: -20px;
  }

  50% {
    bottom: -42px;
  }

  100% {
    bottom: -20px;
  }
}

.project {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: -130px;
  z-index: 2;
  background-color: $white;

  @include for-big-mobile {
    margin-top: 0;
    display: block;
  }

  &-item {
    box-sizing: border-box;
    width: 50%;

    &-wrap {
      position: relative;
      width: 50%;
      box-sizing: border-box;
      padding-top: 245px;

      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: -2px;
        display: block;
        width: 100%;
        height: 245px;
        background-color: #000;
      }

      @include for-big-mobile {
        width: 100%;
        padding-top: 0;
      }
      .project-item {
        position: relative;
        width: 100%;
        z-index: 2;
      }
    }

    @include for-big-mobile {
      width: 100%;
      transform: none !important;
    }

    &:first-child {
      padding: 90px 120px 165px;
      background-color: $white;

      @include for-desktop2 {
        padding: 45px 60px 80px;
      }

      .project-link,
      .project-number,
      p {
        color: $mainBlack;
      }

      .project-link {
        &:hover {
          color: $yellow;
        }
      }

      @include for-big-mobile {
        padding: 35px 27px 40px;

        .project-icon {
          margin-top: -52px;
          margin-left: 20px !important;
        }
      }
    }

    &:last-child {
      padding: 100px 90px 55px;
      background-color: $bgBlack;

      .project-content {
        box-sizing: border-box;
        padding-left: 60px;
      }

      @include for-desktop2 {
        padding: 50px 45px 22px;
      }

      .project-link,
      .project-number,
      p {
        color: $white;
      }

      p {
        margin-bottom: 45px;
      }

      .project-link {
        &:hover {
          color: $yellow;
        }
      }
      @include for-big-mobile {
        padding: 35px 27px 40px;

        .project-icon {
          margin-top: -42px !important;
          margin-left: 15px !important;
        }
      }
    }

    p {
      display: block;
      margin: 0;
      padding: 0;

      font-size: $text4;
      line-height: $text4LH;
      font-weight: $medium;

      @include for-desktop2 {
        font-size: 20px;
        line-height: 25px;
      }

      @include for-big-mobile {
        width: 150px;
        font-size: 14px;
        line-height: 19px;

        br {
          display: none;
        }
      }
    }
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 53px;

    @include for-big-mobile {
      margin-top: 40px;
      margin-bottom: 35px;
    }

    img {
      width: 82px;
    }

    @include for-desktop2 {
      img {
        width: 46px;
      }
    }
  }

  &-number {
    display: block;
    font-size: 165px;
    line-height: 165px;

    @include for-desktop2 {
      font-size: 100px;
      line-height: 100px;
    }

    @include for-big-mobile {
      font-size: 63px;
      line-height: 63px;
    }
  }

  &-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: $text2;
    font-weight: $medium;
    text-decoration: none;

    svg {
      width: 61px;
      margin-left: 30px;
      transition: 0.2s;
      path,
      circle {
        transition: 0.2s;
      }
    }

    @include for-desktop2 {
      font-size: 15px;
      line-height: 18px;
    }

    @include for-big-mobile {
      justify-content: center;
    }

    &:hover {
      svg {
        transform: scale(1.3);

        path {
          transform: translate(4px);
        }

        circle {
          stroke: $white;
          opacity: 1;
        }
      }
    }

    &-yellow {
      &:hover {
        svg {
          circle {
            stroke: #ffe400;
            opacity: 1;
          }
        }
      }
    }
  }
}

.warranty {
  background-color: $white;
  box-sizing: border-box;
  padding: 155px 0 125px;

  @include for-big-mobile {
    padding: 65px 0 85px;
  }

  &-title {
    display: block;
    text-align: center;
    font-size: 52px;
    line-height: 64px;
    font-weight: $medium;
    color: $mainBlack;

    @include for-desktop3 {
      font-size: 30px;
      line-height: 35px;
    }

    @include for-big-mobile {
      font-size: 20px;
      line-height: 26px;
    }

    span {
      display: block;

      @include for-small-mobile {
        display: inline;
      }
    }

    @include for-small-mobile {
      padding: 0 32px;
    }
  }

  &-desc {
    display: block;
    text-align: center;
    font-size: $text3;
    line-height: 33px;
    font-weight: $medium;
    color: $grayText2;

    @include for-desktop3 {
      font-size: 16px;
      line-height: 20px;
    }

    @include for-big-mobile {
      font-size: 15px;
      line-height: 18px;
    }

    span {
      display: block;
    }
  }

  &-line {
    width: calc(100% - 144px);
    height: 3px;
    margin-left: 72px;
    background-color: $btnYallow;

    @include for-big-mobile {
      width: calc(100% - 54px);
      margin-left: 27px;
    }

    &-wrap {
      margin: 55px 0;

      @include for-desktop3 {
        margin: 25px 0;
      }
    }
  }
}

.services {
  position: relative;
  padding: 122px 0 100px;
  background-color: $white;

  &-video {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include for-big-mobile {
      display: none;
    }
  }

  &-mobile-more-link {
    display: none;

    @include for-big-mobile {
      display: flex;
      position: relative;
      z-index: 3;
      justify-content: center;
      align-items: center;
      margin-top: 18px;
      font-size: 16px;
      font-weight: $bold;
      color: $mainBlack;
      text-decoration: none;
      &:hover {
        color: $yellow;
      }

      &:after {
        content: '';
        display: block;
        height: 34px;
        width: 39px;
        margin-left: 17px;
        background: center / contain url(../img/mobilelink.png) no-repeat;
      }
    }
  }

  @include for-big-mobile {
    padding-top: 0;
    padding-bottom: 0;
    background: $white;
  }

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include for-big-mobile {
      display: block;
    }
  }

  &-item {
    position: relative;
    width: 50%;
    z-index: 2;

    @include for-desktop {
      &:nth-child(1) {
        width: 40%;
      }

      &:nth-child(2) {
        width: 60%;
      }
    }

    @include for-big-mobile {
      &:nth-child(1),
      &:nth-child(2) {
        width: 100%;
      }
    }
  }

  &-grid {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    width: calc(100% - 63px);
    margin-right: auto;
    background-color: $greedBlack;

    @include for-desktop {
      width: 100%;
    }

    @include for-big-mobile {
      display: block;
      background-color: transparent;
      padding-bottom: 30px;
      border-bottom: 3px solid #b7b7b7;
    }

    &-item {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      height: 440px;
      width: 50%;
      padding: 75px 75px 72px 72px;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        background-color: $yellow;

        @include for-big-mobile {
          background-color: #181818;
        }

        p {
          color: $mainBlack;
        }

        .services-grid-icon-hover {
          opacity: 1;

          @include for-big-mobile {
            opacity: 0;
          }
        }

        .services-grid-icon-noHover {
          opacity: 0;

          @include for-big-mobile {
            opacity: 1;
          }
        }
      }

      @include for-desktop {
        height: 300px;
        padding: 30px;
      }

      &:nth-child(2n - 1) {
        border-right: 2px solid #262626;
        @include for-big-mobile {
          border: none;
        }
      }

      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 2px solid #262626;

        @include for-big-mobile {
          border: none;
        }
      }

      p {
        display: block;
        margin-top: auto;
        margin-right: auto;
        font-size: $text;
        line-height: $textGridLH;
        font-weight: $semi;
        color: $white;

        @include for-desktop {
          font-size: 15px;
          line-height: 18px;
        }

        @include for-big-mobile {
          width: 70%;
        }
      }

      @include for-big-mobile {
        height: auto;
        width: 100%;
        background-color: $greedBlack;

        & + & {
          margin-top: 12px;
        }
      }
    }

    &-icon {
      position: absolute;
      display: block;
      margin-left: auto;
      transition: 0.2s;

      @include for-big-mobile {
        position: relative;
      }
    }

    &-icon-hover {
      display: block;
      opacity: 0;
    }
  }

  &-move {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-imageBg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.2s;
    opacity: 0;

    @include for-big-mobile {
      opacity: 0;
    }
  }

  &-content {
    display: block;
    box-sizing: border-box;

    h2 {
      display: block;
      max-width: 752px;
      padding-top: 100px;
      padding-bottom: 27px;
      margin-bottom: 36px;
      font-size: 82px;
      line-height: 82px;
      font-weight: bold;
      color: #fff;
      border-bottom: 3px solid $btnYallow;

      @include for-desktop {
        width: 95%;
        font-size: 50px;
        line-height: 55px;
      }

      @include for-big-mobile {
        text-align: center;
        width: 100%;
        font-size: 38px;
        line-height: 38px;
        color: $mainBlack;
        padding: 0;
        border: none;
      }
    }

    span:not(.nowrap) {
      display: block;
      max-width: 280px;
      font-size: 21px;
      line-height: 31px;
      color: $white;

      @include for-desktop {
        font-size: 17px;
        line-height: 20px;
      }

      @include for-big-mobile {
        display: none;
      }
    }
  }

  &-tile {
    position: absolute;
    bottom: -210px;
    left: 98px;
    display: block;
    box-sizing: border-box;
    width: 325px;
    padding: 42px 48px 50px 42px;
    background-color: $btnYallow;

    @include for-desktop {
      width: 200px;
      padding: 30px;
    }

    @include for-big-mobile {
      display: none;
    }

    p {
      display: block;
      margin-top: 54px;
      font-size: 32px;
      line-height: 36px;
      font-weight: bold;

      @include for-desktop {
        font-size: 15px;
        line-height: 18px;
      }
    }

    &-link {
      display: block;
      height: 60px;
      width: 60px;
      margin-left: auto;

      @include for-desktop {
        height: 36px;
        width: 36px;

        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.users {
  padding-top: 245px;
  background-color: $white;

  @include for-desktop {
    padding-top: 160px;
  }

  @include for-big-mobile {
    padding-top: 85px;
  }

  h2 {
    display: block;
    font-size: $title;
    line-height: $titleHL;
    font-weight: bold;
    color: $mainBlack;

    @include for-desktop {
      font-size: 50px;
      line-height: 55px;
    }

    @include for-big-mobile {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &-slider {
    padding: 100px 0 160px;

    @include for-desktop {
      padding: 50px 0;
    }

    @include for-big-mobile {
      padding: 30px 0 60px;
    }

    &-item {
      margin: 0 24px;

      @include for-big-mobile {
        margin: 0 9px;
      }
    }

    p {
      display: block;
      font-size: 130px;
      line-height: 130px;
      font-weight: $bold;
      color: #dedede;

      @include for-desktop {
        font-size: 58px;
        line-height: 60px;
      }

      &:after {
        content: '/';
        font-size: 130px;
        line-height: 130px;
        padding-left: 48px;
        font-weight: $medium;
        color: #f4f4f4;

        @include for-desktop {
          padding-left: 20px;
          font-size: 58px;
          line-height: 60px;
        }
      }
    }

    span {
      display: block;
      box-sizing: border-box;
      padding-right: 84px;
      margin-top: 30px;
      text-align: center;
      font-size: $normal;
      font-weight: $medium;
      color: #aaaaaa;

      @include for-desktop {
        padding-right: 70px;
        margin-top: 15px;
      }

      @include for-big-mobile {
        text-align: center;
        width: calc(100% - 45px);
        padding-right: 0;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  &-line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: $mainBlack;

    @include for-big-mobile {
      display: none;
    }
  }

  &-slider {
  }
}

.useMap {
  position: relative;
  padding-top: 86px;
  padding-bottom: 250px;
  background-color: $white;

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $mainBlack;
    height: 2px;
    margin: 7px auto;
  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    background-color: #e7e7e7;
  }

  .mCSB_scrollTools .mCSB_draggerContainer {
    width: calc(100% - 54px);
    margin-left: auto;
    margin-right: auto;
  }

  .services-mobile-more-link {
    margin-top: 35px;
  }

  @include for-big-mobile {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .services-tile {
    left: 25%;
    bottom: -290px;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;

    span:not(.nowrap) {
      display: block;
      width: 100px;
      font-size: $normal;
      line-height: $smallLH;
    }

    span.yellow-tile-link {
      display: flex;
      width: 72px;
      height: 72px;

      @include for-desktop2 {
        width: 36px;
        height: 36px;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @include for-big-mobile {
    }
  }

  &-maping,
  &-title-block {
    width: 50%;

    @include for-small-mobile {
      width: 100%;
    }
  }

  h2 {
    display: block;
    max-width: 560px;
    font-size: $title;
    line-height: $titleHL;
    font-weight: bold;
    color: $mainBlack;

    @include for-desktop {
      font-size: 50px;
      line-height: 55px;
    }

    @include for-big-mobile {
      max-width: 180px;
      font-size: 22px;
      line-height: 26px;
    }
  }

  &-maping {
    position: relative;
    display: block;

    &-image {
      position: absolute;
      top: -160px;
      left: -118px;

      @include for-big-desktop {
        top: -8.33vw;
        left: -6.14vw;
        width: 61.82vw;
      }

      @include for-big-mobile {
        position: relative;
        left: auto;
        top: auto;
        width: 550px;
        margin-top: -70px;
        margin-left: -145px;
        height: 500px;
        object-fit: cover;
        object-position: top;
      }
    }

    &-dote {
      position: absolute;
      z-index: 2;
      height: 14px;
      width: 14px;
      background-color: $mainBlack;
      border-radius: 50%;
      cursor: pointer;

      @include for-big-desktop {
        width: 0.73vw;
        height: 0.73vw;
      }

      @include for-big-mobile {
        width: 6px;
        height: 6px;
      }

      &:nth-child(1) {
        left: 318px;
        top: 100px;

        @include for-big-desktop {
          left: 16.56vw;
          top: 5.2vw;
        }

        @include for-big-mobile {
          left: 60px;
          top: 50px;
        }
      }

      &:nth-child(2) {
        left: 585px;
        top: 135px;

        @include for-big-desktop {
          left: 30.46vw;
          top: 7.03vw;
        }

        @include for-big-mobile {
          left: 187px;
          top: 67px;
        }
      }

      &:nth-child(3) {
        left: 138px;
        top: 590px;

        @include for-big-desktop {
          left: 7.18vw;
          top: 30.72vw;
        }

        @include for-big-mobile {
          left: -20px;
          top: 285px;
        }
      }

      &:nth-child(4) {
        left: 275px;
        top: 520px;

        @include for-big-desktop {
          left: 14.32vw;
          top: 27.08vw;
        }

        @include for-big-mobile {
          left: 40px;
          top: 245px;
        }
      }

      &:nth-child(5) {
        left: 424px;
        top: 499px;

        @include for-big-desktop {
          left: 22.08vw;
          top: 25.98vw;
        }

        @include for-big-mobile {
          left: 115px;
          top: 240px;
        }
      }

      &:nth-child(6) {
        left: 455px;
        top: 565px;

        @include for-big-desktop {
          left: 23.69vw;
          top: 29.42vw;
        }

        @include for-big-mobile {
          left: 120px;
          top: 268px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transition: 0.2s;
        width: 0;
        height: 0;
      }

      &-active {
        &:before {
          display: block;
          height: 30px;
          width: 30px;
          margin-top: -15px;
          margin-left: -15px;
          border-radius: 50%;
          background-color: $btnYallow;

          @include for-big-desktop {
            height: 1.46vw;
            width: 1.46vw;
            margin-top: -0.73vw;
            margin-left: -0.73vw;
          }

          @include for-big-mobile {
            width: 12px;
            height: 12px;
            margin-top: -6px;
            margin-left: -6px;
          }
        }
      }
    }
  }

  &-title {
    &-block {
      position: relative;
      z-index: 2;
      box-sizing: border-box;
      padding: 90px 118px 0 150px;

      ul {
        list-style: none;
        display: block;

        @include for-small-mobile {
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          padding: 0 27px;

          li {
            width: 90px;
            flex-shrink: 0;
          }
        }

        li + li {
          margin-top: 45px;

          @include for-big-desktop {
            margin-top: 2.34vw;
          }

          @include for-small-mobile {
            margin-top: 0;
            margin-left: 45px;
          }
        }
      }

      @include for-big-desktop {
        padding: 4.68vw 6.14vw 0 7.81vw;
      }

      @include for-big-mobile {
        padding: 20px;
      }

      @include for-small-mobile {
        width: 100vw;
        box-sizing: border-box;
        margin-left: -27px;
        margin-top: -100px;
        padding: 0;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 0;
          display: block;
          position: absolute;
          height: 150px;
          width: 100%;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
        }
      }
    }

    &-link {
      display: block;
      box-sizing: border-box;
      padding-bottom: 40px;
      font-size: 20px;
      line-height: 23px;
      font-weight: $bold;
      color: $mainBlack;
      text-decoration: none;
      border-bottom: 2px solid $mainBlack;
      opacity: 0.2;
      transition: 0.2s;
      cursor: pointer;

      &-active {
        opacity: 1;
      }

      @include for-big-desktop {
        padding-bottom: 2.08vw;
        font-size: 1.04vw;
        line-height: 1.2vw;
      }

      @include for-big-mobile {
        font-size: 13px;
        line-height: 17px;
      }

      @include for-small-mobile {
        padding-bottom: 15px;
        border-bottom: none;
        opacity: 1;
      }
    }
  }

  &-moreLink {
    display: block;
    margin-top: 200px;
    font-size: 19px;
    line-height: 62px;
    font-weight: $bold;
    color: $mainBlack;
    text-decoration: none;

    &:hover {
      color: $yellow;
    }

    @include for-big-desktop {
      margin-top: 10.41vw;
      font-size: 2.06vw;
      line-height: 3.22vw;
    }

    @include for-small-mobile {
      display: none;
    }
  }
}

.yellow-tile {
  text-decoration: none;

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 72px;
    background-color: $mainBlack;
    border-radius: 50%;
    flex-shrink: 0;
    transition: 0.2s;

    @include for-desktop2 {
      width: 36px;
      height: 36px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &-svg {
    width: 30px;
    transition: 0.2s;
    transform: rotate(-45deg);

    .cls-1 {
      fill: #fff;
      stroke: #fff;
    }

    @include for-desktop2 {
      width: 20px;
    }
  }
}

.circle-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  text-decoration: none;

  &-svg {
    display: block;
    flex-shrink: 0;
    width: 100%;

    path {
      transition: 0.2s;
    }

    circle {
      transition: 0.2s;
    }
  }
}

.equipment-grid-item {
  text-decoration: none;

  &:hover {
    .circle-link {
      transform: scale(1.3);

      path {
        transform: translate(4px);
      }

      circle {
        stroke: $white;
        opacity: 1;
      }
    }
  }
}

.yellow-tile {
  color: #000;
  text-decoration: none;

  span.yellow-tile-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
  }
  &:hover {
    .yellow-tile-svg {
      transform: rotate(0);

      .cls-1 {
        fill: #ffe400;
        stroke: #ffe400;
      }
    }
  }
}
.serv-bgWrap {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.fake-cursor {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -35px;
  border-radius: 100%;
  transition: 0.1s cubic-bezier(0.75, -0.27, 0.3, 1.33) background-color, 0.1s ease border-color,
    0.2s ease opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  pointer-events: none;

  img {
    display: block;
    width: 100%;
  }
  opacity: 0;

  &.active {
    opacity: 1;
  }
}



#smoothScroll{
  height: 100vh;
}

.v-hidden{
  visibility: hidden;
}